.container {
    width: 960px;
}

.navigation-container {
    width: 100%;
    background: #222222;
}

.navbar {
    border-radius: 0;
    width: 960px;
    margin: 0 auto;
    border: 0;
}

.navbar div.collapse {
    margin: 0 0 0 175px;
}

.navbar ul li {
    display: inline-block;
    line-height: 30px;
}

.navbar ul li.active a {
    color: #fff;
}